@charset "UTF-8";

/*---------------------------------------default*/
html {
    margin: 0;
    padding: 0;
    font-size: 62.5;
}

/*-------------------------------------------------------------All*/

body {
    margin: 0;
    padding: 0;
    color: #797e81;
    font-family: 'Courgette', 'Klee One', cursive, sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 1.7;
    -webkit-text-size-adjust: 100%;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb li {
    display: inline;/*横に並ぶように*/
    list-style: none;
}

.breadcrumb li:after {/* >を表示*/
    content: '>';
    padding: 0 0.2em;
    color: #555;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb li a {
    text-decoration: none;
    color: #068e0c;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.privacy-policy-wrapper {
    padding: 20px;
    text-align: left;
}
.privacy-policy-wrapper div {
    margin-bottom: 10px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: center;
    color: #d0d0d0;
    font-size: 0.6rem;
    padding: 15px 0;
}

footer a {
    color: #6d9b69;
}
