header {
    height: 120px;
    background: white;
    position:relative;
    z-index: 10;
}

h1 {
    color: #535353;
    text-align: center;
    padding-top: 20px;
}

.lead {
    text-align: center;
    color: #797e81;
}

#kv {
    display: block;
    /*background-image: url(./testimg.jpg);*/
    width: 100%;
    height: 1500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: white;
}

#kv::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
}

.block {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 50px;
}

.contents-blk {
    margin: auto;
    z-index: 10;
}

.recommend-p {
    width: 100px;
    position: relative;
    border: 3px solid #068e0c;
    border-radius: 10px;
}

.recommend-p:before {
    position: absolute;
    bottom: -14px;
    left: 1em;
    width: 0;
    height: 0;
    content: '';
    border-width: 14px 12px 0 12px;
    border-style: solid;
    border-color: #d8d8d8 transparent transparent transparent;
}

.recommend-p:after {
    position: absolute;
    bottom: -10px;
    left: 1em;
    width: 0;
    height: 0;
    content: '';
    border-width: 14px 12px 0 12px;
    border-style: solid;
    border-color: #068e0c transparent transparent transparent;
}

.items {
    width: 400px;
    height: 400px;
    border: 1px solid white;
    background-color: rgb(0,0,0,0.4);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    margin: auto;
}

.items-blk {
    margin-top: 40px;
}

.items p {
    padding: 5px 0;
}

.contents-blk h2 {
    color: white;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 30px;
    font-size: 1.3rem;
}

@media screen and (min-width:481px) and (max-width:1112px) {
    body {
        line-height: 1.5;
    }

    h1 {
        margin: 10px auto 10px;
        width: auto;
        font-size: 1.8rem;
        text-align: center;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.8rem;
        text-decoration: underline;
    }

    h4 {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    h3 {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .items {
        width: 350px;
        height: 350px;
        border-radius: 20px;
    }

    .block {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    body {
        line-height: 1.2;
    }

    h1 {
        margin: 10px auto 10px;
        width: auto;
        font-size: 1.8rem;
        text-align: center;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.8rem;
        text-decoration: underline;
    }

    h3 {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    h4 {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .items {
        width: 350px;
        height: 350px;
        border-radius: 20px;
    }

    .block {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    p {
        line-height: 1.5;
    }
}

@media screen and (max-width: 375px) {
    body {
        line-height: 1;
    }

    h3 {
        padding-top: 30px;
    }

    p {
        line-height: 1.5;
    }

    .items {
        width: 350px;
        height: 350px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 320px) {
    h3 {
        padding-top: 30px;

    }

    h4 {
        padding-bottom: 50px;
    }

    .items {
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    .items p {
        line-height: 1.2;


    }
}