@charset "UTF-8";

/*---------------------------------------default*/
html {
  margin: 0;
  padding: 0;
  font-size: 62.5;
}

/*-------------------------------------------------------------All*/
body {
  margin: 0;
  padding: 0;
  color: #797e81;
  font-family: 'Courgette', cursive,'Zen Maru Gothic', sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

#kv {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../img/kv.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.hello {
  font-family: 'Courgette', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 2.8rem;
  color: white;
}

#about {
  background: #fff;
  width: 100%;
  padding: 70px 0;
}

#about h2 {
  font-size: 1.2rem;
  color: #535353;
}

.wrap-blk {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

.contents-blk {
  width: 20%;
}

.contents-blk  .img {
  width: 160px;

}


.btn {
  margin: 20px 0 0;
}

.btn a {
  display: inline-block;
  box-sizing: border-box;
  width: 155px;
  height: 42px;
  border: 2px solid #aa89bd;
  border-radius: 21px;
  color: #aa89bd;
  font-size: 0.9rem;
  line-height: 38px;
  transition: background-color 0.2s, color 0.2s;
}

.btn a:hover {
  background-color: #aa89bd;
  color: white;
}


/*--------------------------スマホーーーーーーーーーーーーーーーーーーーーーーーーーー*/

@media screen and (max-width: 414px){

  body {
    margin: 0;
    padding: 0;
    color: #797e81;
    font-family: 'Courgette', cursive,'Zen Maru Gothic', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.7;
    -webkit-text-size-adjust: 100%;
  }

.hello {
  width: 320px;
}

.hello h1 {
  font-size: 1.5rem;
}

.wrap-blk {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contents-blk {
  width: 100%;
  justify-content: center;
  margin-bottom: 60px;
}





}