<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>{% block title %}Customize Your Starbucks{% endblock title %}</title>
    {% block links %}
    {% endblock links %}
</head>

<body>

{{ block('header') }}

{{ block('content') }}

{% block footer %}
{% endblock footer %}

</body>
</html>