<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>{% block title %}Customize Your Starbucks{% endblock title %}</title>
    {% if baseUrl == 'https://cystarbucks.com/' %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    {% else %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    {% endif %}
    {% block links %}
    {% endblock links %}
</head>

<body>

{{ block('header') }}

{{ block('content') }}

{{ block('vue') }}

{% block footer %}
{% endblock footer %}

</body>
</html>