{% extends "./layout.html.twig" %}

{% block header %}
{% endblock header %}

{% block content %}
    <h1>Options for you!</h1>
    <div>
        {% for result in results['hot'] %}
            <div class="box">
                <p>{{ result['callingName'] }}</p>
                <p>{{ result['recommend'] }}</p>
                {{ dump(result) }}
            </div>
        {% endfor %}
    </div>
{% endblock content %}