{% extends "./layout.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1>Choice your frappuccion</h1>
        <form action="/starbucks-gacha/result" method="post">
            <div class="item-boxes">
                {% for drinkEntity in drinkRepository.getDrinkEntities %}
                    <div>
                        <label>
                            <input type="radio" name="item" value="{{ drinkEntity.getName }}">
                            {{ drinkEntity.getName | raw }}
                        </label>
                        <img src="{{ drinkEntity.getImageUrl }}" alt="">
                    </div>
                {% endfor %}
            </div>

            <div class="price-boxes">
                <div>
                    <label>
                        <input type="radio" name="price" value="500">
                        ￥500
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="price" value="600">
                        ￥600
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="price" value="700">
                        ￥700
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="price" value="800">
                        ￥800
                    </label>
                </div>
            </div>

            <input type="submit" value="検索する">
        </form>
    </div>
{% endblock content %}